@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GowunBatang";
  src: url("/fonts/GowunBatang/GowunBatang-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GowunBatang", serif;
  @apply text-text;
  @apply bg-background;
}

h1 {
  @apply text-3xl;
}
