@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GowunBatang";
  src: url("/fonts/GowunBatang/GowunBatang-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GowunBatang", serif;
  @apply text-text bg-background;
}

h1 {
  @apply text-5xl text-page_title_color;
}

ul {
  @apply flex flex-row flex-wrap justify-center items-baseline gap-6;
}

li {
  @apply flex flex-col justify-center items-center gap-1 w-32;
}
