@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GowunBatang";
  src: url("/src/public/fonts/GowunBatang/GowunBatang-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "GowunBatang", serif;
}
